.App {
  text-align: center;
}

body {
  margin: 0;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.sidebar {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(52, 52, 52);
  border-radius: 5px;
  color:antiquewhite;
}

.sidebar button {

}

.toggle-button {
  margin-bottom: 10px;
}
.add-button {
  margin-bottom: 10px;
}
.toggle-map-button {

}

.crosshair {
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}